body {
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* width: 100%; */
  /* height: 100%; */
  /* z-index: -1; */
  background: url("https://i.makeagif.com/media/9-28-2015/KjfkQS.gif") center;
  /* background-size: cover;  */
}

@media only screen and (max-width: 768px) {
  iframe {
    width: 100%;
    height: 100%;
  }
}
